body {
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
    font-family: 'Courier New', monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    font-size: 4rem;
    text-align: center;
}